<div class="prompt-response-div">
  <h2><%= @prompt.prompt_question %></h2>
  <h3 class="prompt-response"><%= @prompt_response.response %></h3>
  <h4>With Luv, <%= @luver %></h4>
  <h5>Created at: <%= @prompt_response.created_at %></h5>
</div>
